In [86]:
# Import liberies
import pandas as pd

In [87]:

# Load the Excel file
file_path = './listings2023.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataframe to inspect the data
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6606,"Fab, private seattle urban cottage!",14942,Joyce,Other neighborhoods,Wallingford,47.65444,-122.33629,Entire home/apt,99.0,30,160,2023-08-05,0.89,1,147,1,str-opli-19-002622
1,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.55017,-122.31937,Private room,72.0,2,194,2023-09-22,1.17,9,358,20,Exempt
2,9531,The Adorable Sweet Orange Craftsman,31481,Cassie,West Seattle,Fairmount Park,47.55495,-122.38663,Entire home/apt,166.0,3,88,2024-03-03,0.59,2,140,17,STR-OPLI-19-002182
3,9534,The Coolest Tangerine Dream MIL!,31481,Cassie,West Seattle,Fairmount Park,47.55627,-122.38607,Entire home/apt,125.0,2,77,2023-12-27,0.52,2,85,3,STR-OPLI-19-002182
4,25002,Beautiful Private Spot in North Ballard,102684,Amanda,Ballard,Whittier Heights,47.67947,-122.37196,Entire home/apt,81.0,2,1042,2024-03-15,6.15,1,109,67,STR-OPLI-19-002617

In [95]:
# Check for missing values
missing_values = data.isnull().sum()

# Check for duplicates
duplicates = data.duplicated().sum()

# Display basic info about the dataframe
data.info()

missing_values, duplicates

(id                                0
 name                              0
 host_id                           0
 host_name                         0
 neighbourhood_group               0
 neighbourhood                     0
 latitude                          0
 longitude                         0
 room_type                         0
 price                             0
 minimum_nights                    0
 number_of_reviews                 0
 last_review                       0
 reviews_per_month                 0
 calculated_host_listings_count    0
 availability_365                  0
 number_of_reviews_ltm             0
 dtype: int64,
 0)

In [89]:

data = data.dropna()

data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6606,"Fab, private seattle urban cottage!",14942,Joyce,Other neighborhoods,Wallingford,47.654440,-122.336290,Entire home/apt,99.0,30,160,2023-08-05,0.89,1,147,1,str-opli-19-002622
1,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.550170,-122.319370,Private room,72.0,2,194,2023-09-22,1.17,9,358,20,Exempt
2,9531,The Adorable Sweet Orange Craftsman,31481,Cassie,West Seattle,Fairmount Park,47.554950,-122.386630,Entire home/apt,166.0,3,88,2024-03-03,0.59,2,140,17,STR-OPLI-19-002182
3,9534,The Coolest Tangerine Dream MIL!,31481,Cassie,West Seattle,Fairmount Park,47.556270,-122.386070,Entire home/apt,125.0,2,77,2023-12-27,0.52,2,85,3,STR-OPLI-19-002182
4,25002,Beautiful Private Spot in North Ballard,102684,Amanda,Ballard,Whittier Heights,47.679470,-122.371960,Entire home/apt,81.0,2,1042,2024-03-15,6.15,1,109,67,STR-OPLI-19-002617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6228,1107649452721640336,Charming 3 bed house in Seattle,202569713,Steve,Lake City,Victory Heights,47.708715,-122.306543,Entire home/apt,98.0,2,2,2024-03-20,2.00,3,267,2,STR-OPLI-22-001591
6251,1108750532893962176,NEW King Bed *Large Loft w/ Full Kitchen,308171168,Lanis,Downtown,Pioneer Square,47.600346,-122.334614,Entire home/apt,153.0,2,3,2024-03-23,3.00,6,155,3,STR-OPLI-23-000599
6255,1109553291857079122,Off Broadway-North Cap Hill 1BR,52272417,Emma,Capitol Hill,Broadway,47.625581,-122.323497,Entire home/apt,90.0,1,2,2024-03-24,2.00,2,256,2,STR-OPLI-20-000544
6282,1114478658565333108,The Sweetest Hideaway - 81 Walkscore!,340706410,Vince,Central Area,Minor,47.609181,-122.309820,Entire home/apt,131.0,1,1,2024-03-25,1.00,100,350,1,STR-OPLI-22-001384
6284,1115384941709664521,2B2B close to Downtown w/ City & Mountain views,25110157,Eva And Sid,Central Area,Atlantic,47.600714,-122.311231,Entire home/apt,176.0,2,1,2024-03-25,1.00,27,33,1,STR-OPLI-24-000232

In [90]:
# Convert all text to lowercase
data = data.applymap(lambda s: s.lower() if type(s) == str else s)

# Standardize date formats if any date columns exist
data['last_review'] = pd.to_datetime(data['last_review'], format='%Y-%m-%d')

C:\Users\Raj\AppData\Local\Temp\ipykernel_12012\3738131944.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda s: s.lower() if type(s) == str else s)

In [91]:
data = data.drop('license', axis=1)

In [92]:

data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,6606,"fab, private seattle urban cottage!",14942,joyce,other neighborhoods,wallingford,47.65444,-122.33629,entire home/apt,99.0,30,160,2023-08-05,0.89,1,147,1
1,9419,glorious sun room w/ memory foambed,30559,angielena,other neighborhoods,georgetown,47.55017,-122.31937,private room,72.0,2,194,2023-09-22,1.17,9,358,20
2,9531,the adorable sweet orange craftsman,31481,cassie,west seattle,fairmount park,47.55495,-122.38663,entire home/apt,166.0,3,88,2024-03-03,0.59,2,140,17
3,9534,the coolest tangerine dream mil!,31481,cassie,west seattle,fairmount park,47.55627,-122.38607,entire home/apt,125.0,2,77,2023-12-27,0.52,2,85,3
4,25002,beautiful private spot in north ballard,102684,amanda,ballard,whittier heights,47.67947,-122.37196,entire home/apt,81.0,2,1042,2024-03-15,6.15,1,109,67

In [93]:
# Convert all text columns to lowercase
text_columns = ['name', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type']
for col in text_columns:
    data[col] = data[col].str.lower()

In [94]:

# Save the cleaned data to a new file
cleaned_file_path = './listings2023_cleaned.xlsx'
data.to_excel(cleaned_file_path, index=False)

cleaned_file_path

'./listings2023_cleaned.xlsx'